In [1]:
import pandas as pd
import numpy as np
import pickle

In [3]:
data = pd.read_pickle("../src/original_data/covid_data_2020_03.pickle")
data

,,support_no_visitors,support_curfew_high_risk,support_curfew_non_crucial,hours_workplace,hours_home,p_2m_employee_keep,p_2m_employee_keep_gov,p_2m_employee_other,date_fieldwork,questionnaire_difficult,...,gov_action_approp,gov_action_insuff,save_banks,help_pension_funds,p_2m_employee_lost,no_emergency_cc_note_drop,note_survey,age_sex_marital_weighting,mhi5_7d,hours_total
personal_id,month,,,,,,,,,,,,,,,,,,,,,
800085,2020-03-01,agree,totally agree,agree,24.0,2.0,100.0,0.0,0.0,202003.0,1 definitely not,...,agree,neither/nore,agree,neither/nore,0.0,NaN,,1.425745,84.0,26.0
800100,2020-03-01,totally agree,totally agree,totally agree,70.0,0.0,50.0,20.0,15.0,202003.0,1 definitely not,...,agree,agree,totally disagree,totally disagree,15.0,NaN,ze moeten het snel verhelpen en de gene die de...,1.131753,60.0,70.0
800131,2020-03-01,totally agree,totally agree,totally agree,NaN,NaN,NaN,NaN,NaN,202003.0,1 definitely not,...,totally agree,totally disagree,totally agree,totally agree,NaN,NaN,Het enige wat ik zou willen dat de mensen de r...,0.568763,72.0,NaN
800161,2020-03-01,agree,agree,agree,30.0,5.0,NaN,NaN,NaN,202003.0,1 definitely not,...,totally agree,totally disagree,agree,agree,NaN,NaN,Als fysiotherapiepraktijk is het erg moeilijk ...,1.190323,76.0,35.0
800170,2020-03-01,agree,agree,agree,40.0,0.0,50.0,50.0,0.0,202003.0,1 definitely not,...,agree,disagree,totally agree,totally agree,0.0,NaN,Ja wij...( zorgverleners en leraren ) worden e...,0.761780,68.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899928,2020-03-01,agree,disagree,agree,NaN,NaN,NaN,NaN,NaN,202003.0,4,...,agree,disagree,disagree,agree,NaN,NaN,,0.741906,76.0,NaN
899934,2020-03-01,totally agree,totally agree,neither/nore,0.0,0.0,NaN,NaN,NaN,202003.0,4,...,neither/nore,neither/nore,neither/nore,neither/nore,NaN,NaN,,1.312963,60.0,0.0
899946,2020-03-01,totally agree,agree,disagree,NaN,NaN,NaN,NaN,NaN,202003.0,5 certainly yes,...,agree,neither/nore,neither/nore,agree,NaN,NaN,Houd er rekening mee dat ik al een jaar thuisz...,2.051511,44.0,NaN
899954,2020-03-01,totally agree,totally agree,totally agree,NaN,NaN,NaN,NaN,NaN,202003.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,0.203885,NaN,NaN
899960,2020-03-01,agree,agree,agree,0.0,40.0,40.0,30.0,10.0,202003.0,3,...,agree,disagree,neither/nore,agree,20.0,NaN,,0.939901,88.0,40.0

In [ ]:
list(data.columns)

In [30]:
Q3 = data[['avoid_busy_places','avoid_public_places','maintain_distance','adjust_school_work','quarantine_symptoms', 'quarantine_no_symptoms','no_avoidance_behaviors']]
Q3

,,avoid_busy_places,avoid_public_places,maintain_distance,adjust_school_work,quarantine_symptoms,quarantine_no_symptoms,no_avoidance_behaviors
personal_id,month,,,,,,,
800085,2020-03-01,1.0,1.0,1.0,0.0,1.0,0.0,0.0
800100,2020-03-01,1.0,1.0,1.0,1.0,1.0,1.0,0.0
800131,2020-03-01,1.0,1.0,1.0,0.0,0.0,1.0,0.0
800161,2020-03-01,1.0,1.0,1.0,1.0,0.0,0.0,0.0
800170,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
899928,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0
899934,2020-03-01,1.0,1.0,1.0,1.0,0.0,0.0,0.0
899946,2020-03-01,1.0,0.0,1.0,1.0,1.0,0.0,0.0
899954,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0
899960,2020-03-01,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [7]:
Q3_none = Q3.query('no_avoidance_behaviors==1')
Q3_none

,,avoid_busy_places,avoid_public_places,maintain_distance,adjust_school_work,quarantine_symptoms,quarantine_no_symptoms,no_avoidance_behaviors
personal_id,month,,,,,,,
806900,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
807974,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
811608,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
812130,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
813178,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
813671,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
813689,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
814630,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
814868,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
814947,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
815249,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
815834,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
816702,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
816769,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
818234,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
819226,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
829919,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
832952,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
838928,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
839035,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
841970,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
843780,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
843903,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
844357,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
844879,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
849329,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
849868,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
851878,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
852317,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
853317,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
855379,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
855505,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
855679,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
862683,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
862899,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
866247,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
867364,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
869726,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
869835,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
871084,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
873898,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
873983,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
874215,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
876068,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
878781,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
880535,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
882528,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
887158,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
893585,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
894210,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
895756,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
896502,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
897253,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
897976,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [31]:
Q3.insert(7,"sum", 0)
# Q3.loc[:, ["sum"]] = 0
Q3.loc[Q3['no_avoidance_behaviors']!=1, 'sum'] = Q3.loc[Q3['no_avoidance_behaviors']!=1,
   ['avoid_busy_places','avoid_public_places','maintain_distance',
    'adjust_school_work','quarantine_symptoms', 'quarantine_no_symptoms']].sum(axis='columns')

/Users/xiang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [32]:
Q3

,,avoid_busy_places,avoid_public_places,maintain_distance,adjust_school_work,quarantine_symptoms,quarantine_no_symptoms,no_avoidance_behaviors,sum
personal_id,month,,,,,,,,
800085,2020-03-01,1.0,1.0,1.0,0.0,1.0,0.0,0.0,4.0
800100,2020-03-01,1.0,1.0,1.0,1.0,1.0,1.0,0.0,6.0
800131,2020-03-01,1.0,1.0,1.0,0.0,0.0,1.0,0.0,4.0
800161,2020-03-01,1.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0
800170,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...
899928,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0
899934,2020-03-01,1.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0
899946,2020-03-01,1.0,0.0,1.0,1.0,1.0,0.0,0.0,4.0
899954,2020-03-01,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0
899960,2020-03-01,1.0,1.0,1.0,1.0,1.0,1.0,0.0,6.0

In [33]:
background = pd.read_pickle("../src/original_data/background_data_merged.pickle")
print(list(background.columns))
background

['hh_id', 'dum_angina', 'dum_attack', 'dum_pressure', 'dum_cholestrol', 'dum_stroke', 'dum_diabetes', 'dum_lung', 'dum_asthma', 'dum_arthitis', 'dum_cancer', 'dum_ulcer', 'dum_parkinson', 'dum_cataract', 'dum_hip', 'dum_fracture', 'dum_alzheimer', 'dum_benign_tumor', 'dum_other', 'dum_no_diseases', 'health_general', 'nervous_back', 'calm_back', 'gloomy_back', 'depressed_back', 'happy_back', 'birth_year', 'age', 'hh_members', 'hh_children', 'hhh_partner', 'civil_status', 'hh_position', 'dom_situation', 'dwelling_type', 'location_urban', 'net_income_hh', 'gross_income_hh', 'education_cbs', 'edu', 'edu_4', 'gender', 'female', 'net_income', 'gross_income', 'origin', 'home_ownership_status', 'home_has_mortgage', 'home_paid_interest_on_mortgage', 'home_pays_rent', 'home_rent_amount', 'home_nr_of_rooms', 'home_problem_small', 'home_problem_dark', 'home_problem_cold', 'home_problem_rotten', 'home_problem_noisy', 'home_problem_leaking_roof', 'home_problem_damp', 'sec_home_price', 'sec_home_remaining_mort', 'division_food', 'division_laundry', 'division_cleaning', 'division_chores', 'division_finances', 'division_groceries', 'raising_playing', 'raising_outings', 'raising_behaviour', 'raising_logistic', 'childcare_young_days', 'childcare_young_hours', 'paid_work', 'sector', 'primary_occupation', 'job_social', 'work_actual_hours', 'work_contract_hours', 'work_home', 'profession', 'job_people', 'job_supervise', 'job_supervise_number', 'optimism', 'pessimism', 'extraversion', 'agreeableness', 'conscientiousness', 'neuroticism', 'openness', 'social_desirability', 'mortgage', 'wealth_excl_housing', 'real_estate', 'gross_wages', 'fin_numeracy', 'prob_numeracy', 'basic_numeracy', 'risk_aversion_index', 'education_nodiploma', 'education_diploma', 'wave', 'mhi5_back', 'housing_part_of_wealth', 'age_youngest_child', 'wealth_hh', 'total_financial_assets_hh', 'risky_financial_assets_hh', 'home_price_hh', 'home_remaining_mortgage_hh', 'wealth_hh_eqv', 'total_financial_assets_hh_eqv', 'risky_financial_assets_hh_eqv', 'home_price_hh_eqv', 'home_remaining_mortgage_hh_eqv', 'net_income_hh_eqv', 'age_group', 'income_group', 'income_hh_group', 'health_group', 'age_bins']

,hh_id,dum_angina,dum_attack,dum_pressure,dum_cholestrol,dum_stroke,dum_diabetes,dum_lung,dum_asthma,dum_arthitis,...,total_financial_assets_hh_eqv,risky_financial_assets_hh_eqv,home_price_hh_eqv,home_remaining_mortgage_hh_eqv,net_income_hh_eqv,age_group,income_group,income_hh_group,health_group,age_bins
personal_id,,,,,,,,,,,,,,,,,,,,,
811877,500036.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,100.0,0.0,0.000000,0.0,928.000000,>65,< 1200,< 1500,moderate,"(65.0, 75.0]"
847152,500054.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1250.0,0.0,118000.000000,115000.0,2250.000000,<40,> 2000,1500 to 2500,very good,"(35.0, 45.0]"
882427,500064.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,0.0,0.000000,0.0,1750.000000,>65,1200 to 2000,1500 to 2500,moderate,"(75.0, 120.0]"
854708,500073.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,125.219807,NaN,1654.690303,40 to 65,1200 to 2000,1500 to 2500,good,"(35.0, 45.0]"
858059,500073.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,0.0,125.219807,NaN,1654.690303,40 to 65,1200 to 2000,1500 to 2500,good,"(35.0, 45.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
list(background.columns)

['hh_id',
 'dum_angina',
 'dum_attack',
 'dum_pressure',
 'dum_cholestrol',
 'dum_stroke',
 'dum_diabetes',
 'dum_lung',
 'dum_asthma',
 'dum_arthitis',
 'dum_cancer',
 'dum_ulcer',
 'dum_parkinson',
 'dum_cataract',
 'dum_hip',
 'dum_fracture',
 'dum_alzheimer',
 'dum_benign_tumor',
 'dum_other',
 'dum_no_diseases',
 'health_general',
 'nervous_back',
 'calm_back',
 'gloomy_back',
 'depressed_back',
 'happy_back',
 'birth_year',
 'age',
 'hh_members',
 'hh_children',
 'hhh_partner',
 'civil_status',
 'hh_position',
 'dom_situation',
 'dwelling_type',
 'location_urban',
 'net_income_hh',
 'gross_income_hh',
 'education_cbs',
 'edu',
 'edu_4',
 'gender',
 'female',
 'net_income',
 'gross_income',
 'origin',
 'home_ownership_status',
 'home_has_mortgage',
 'home_paid_interest_on_mortgage',
 'home_pays_rent',
 'home_rent_amount',
 'home_nr_of_rooms',
 'home_problem_small',
 'home_problem_dark',
 'home_problem_cold',
 'home_problem_rotten',
 'home_problem_noisy',
 'home_problem_leaking_roof',
 'home_problem_damp',
 'sec_home_price',
 'sec_home_remaining_mort',
 'division_food',
 'division_laundry',
 'division_cleaning',
 'division_chores',
 'division_finances',
 'division_groceries',
 'raising_playing',
 'raising_outings',
 'raising_behaviour',
 'raising_logistic',
 'childcare_young_days',
 'childcare_young_hours',
 'paid_work',
 'sector',
 'primary_occupation',
 'job_social',
 'work_actual_hours',
 'work_contract_hours',
 'work_home',
 'profession',
 'job_people',
 'job_supervise',
 'job_supervise_number',
 'optimism',
 'pessimism',
 'extraversion',
 'agreeableness',
 'conscientiousness',
 'neuroticism',
 'openness',
 'social_desirability',
 'mortgage',
 'wealth_excl_housing',
 'real_estate',
 'gross_wages',
 'fin_numeracy',
 'prob_numeracy',
 'basic_numeracy',
 'risk_aversion_index',
 'education_nodiploma',
 'education_diploma',
 'wave',
 'mhi5_back',
 'housing_part_of_wealth',
 'age_youngest_child',
 'wealth_hh',
 'total_financial_assets_hh',
 'risky_financial_assets_hh',
 'home_price_hh',
 'home_remaining_mortgage_hh',
 'wealth_hh_eqv',
 'total_financial_assets_hh_eqv',
 'risky_financial_assets_hh_eqv',
 'home_price_hh_eqv',
 'home_remaining_mortgage_hh_eqv',
 'net_income_hh_eqv',
 'age_group',
 'income_group',
 'income_hh_group',
 'health_group',
 'age_bins']

In [34]:
select_background = background.loc[:, [column for column in background.columns if column.startswith("dum")]].dropna(axis=0, how='any')
select_background

,dum_angina,dum_attack,dum_pressure,dum_cholestrol,dum_stroke,dum_diabetes,dum_lung,dum_asthma,dum_arthitis,dum_cancer,dum_ulcer,dum_parkinson,dum_cataract,dum_hip,dum_fracture,dum_alzheimer,dum_benign_tumor,dum_other,dum_no_diseases
personal_id,,,,,,,,,,,,,,,,,,,
811877,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
847152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
882427,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
854708,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
858059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840078,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
855566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
856979,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
888757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
897622,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
merge_data = Q3.join(select_background, on="personal_id", how="inner")
merge_data

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

y = merge_data.loc[:, "sum"]
x = merge_data.iloc[:, 10:16]

# y = y[:, np.newaxis]

model = LinearRegression()
model.fit(x, y)
predicts = model.predict(x)
R2 = model.score(x, y)
print('R2 = %.3f' % R2)
coef = model.coef_
intercept = model.intercept_ 
print(model.coef_, model.intercept_)

In [ ]:
import statsmodels.api as sm
import matplotlib.pyplot as plt


y = merge_data.loc[:, "sum"]
x = merge_data.iloc[:, 10:16]
x = sm.add_constant(x) # 若模型中有截距，必须有这一步
model = sm.OLS(y, x).fit() # 构建最小二乘模型并拟合
print(model.summary()) # 输出回归结果

# 画图
# 这两行代码在画图时添加中文必须用
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

predicts = model.predict() # 模型的预测值
x = merge_data.iloc[:, 10] # 自变量为第 3 列数据
plt.scatter(x, y, label='实际值') # 散点图
plt.plot(x, predicts, color = 'red', label='预测值')
plt.legend() # 显示图例，即每条线对应 label 中的内容
plt.show() # 显示图形